<nav class="navbar navbar-dark navbar-expand-lg" role="navigation">
  <a class="navbar-brand" href="/"><span class="rainbow">metacrisis.xyz</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-collapse">


    <%=
    ul_nav [
      ['<i class="fa fa-book"></i> Wiki', 'https://wiki.metacrisis.xyz/'],
      ['<i class="fa fa-newspaper-o"></i> Newsletter', 'https://paragraph.xyz/@metacrisisxyz'],      
      ['<i class="fa fa-envelope"></i> hello@metacrisis.xyz', 'mailto:hello@metacrisis.xyz']
      ], ul_class: 'navbar-nav ml-auto'
  %>

  </div>
</nav>
