<!doctype html>
<html lang="en">
  <head>
    <%= partial :head %>
  </head>
  <body>

    <%= partial :alert %>
    <%= partial :nav %>
    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
